{% extends "layout.njk" %}
{% block head %}
    <title>FoodFy - Receitas</title>
{% endblock %}

{% block content %} 
<div class="content">
    <div class="cards">
        {% for item in items%}
            <div class="card" id="{{item.id}}">
                <div class="card-img">
                    <img src="{{item.image}}" alt="image of {{item.id}}">
                </div>

                <div class="card-title">
                    <p class="title-hover">{{item.title}}</p>
                    <p class="by-card">{{item.author}}<p>
                </div>
            </div>
        {%endfor%}
    </div>

    <div class="cards">
        {% for item in items%}
            <div class="card" id="{{item.id}}">
                <div class="card-img">
                    <img src="{{item.image}}" alt="image of {{item.id}}">
                </div>

                <div class="card-title">
                    <p class="title-hover">{{item.title}}</p>
                    <p class="by-card">{{item.author}}<p>
                </div>
            </div>
        {%endfor%}
    </div>
    
</div>
{% endblock%}}