@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap';

*{
    margin: 0;
}

body{
    position: relative;
    margin: 0 auto;
    font-family: roboto; 
 
}

header{

    max-width: 940px;
    margin: 0 auto;
    
}

.menu{
  
    display: grid;
    padding: 38px 36px 36px 36px;
    grid-template-columns: 1fr 1fr;  
    width: 350px;
    

}

.img-logo img{
    cursor: pointer;
    text-align: center;
    width: 90.6px;
    height: 26.9px;

}

.links{
    
    text-align: center;
  
}
.links a{

    margin-left: 30px;
    text-decoration: none;
    color:#111111 
    
}

.links a:hover{

    color: rgba(110, 112, 119, 0.801);

}

.retangle{

    background:#FBDFDB;
    border-radius: 30px;
    height: 366px;
    margin: 0 auto;
    position: relative;

}

.retangle h1{

    position: absolute;
    font-size: 32px;
    left: 60px;
    top: 117px;

}

.retangle p{

    position: absolute;
    font-size: 18px;
    left: 60px;
    top: 165px;
    width: 316px;

}


.retangle img{

    position: absolute;
    left: 624px;
    top: 66px;
    width: 216px;
    height: 300px;

}

.acess{

    padding-top: 50px;
    margin: 0 auto;
    
}

.title-retangle{

    font-family: Roboto;
    font-size: 24px;
    color: #111111;
    padding-bottom: 20px;

}

.cards {

    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 15px;

}

.card{
    
    width: 300px;
    display: grid;
    
    
}

.card-img img{

    height: 140px;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    cursor: pointer;

}

.card-title{

    padding: 20px 20px 0 0;
   
}

.card-title p{

    font-family: Roboto;
    font-size: 18px;
    color: #111111;
    cursor: pointer;

}

.card-title .title-hover:hover{

    color: rgba(110, 112, 119, 0.801);

}

.card-title .by-card{

    padding-top: 5px;
    font-family: Roboto;
    color: #777777;
    font-size: 14px;

}

footer{

    margin-top: 15px;
    background: #EEEEEE;
    text-align: center;
    width: 100%;

}

footer p{
    
    padding: 23px;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #999999;

}


.title{

    padding-left: 75px;
    padding-top: 24px;
    padding-bottom: 20px;

}

.title h1{

    font-family: Roboto;
    font-size: 24px;
    color: #111111;

}

.text-content {

    margin-right: 20px;
    width: 100%;
    padding-left: 75px;
    font-family: Roboto;
    font-size: 18px;
    color: #444444;
    line-height: 28px;

}

.texts{

    margin: 0 auto;
    max-width: 940px;
    padding-right: 110px;
    background: pink;
    border-radius: 30px;
    padding-bottom: 30px ;
    
}

.content{

    margin: 0 auto;
    max-width: 940px;
   
        
}

.content-error{
  
    margin: 10% auto;
    text-align: center;
    padding-bottom: 20%;

}

.ingredient-img img{

    width: 100%;
    border-radius: 15px;
    
}

.ingredient-title{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.iTitle1{
    font-family: Roboto;
    font-size: 36px;
    color: #111111;
}

.iTitle2{

    font-family: Roboto;
    font-size: 20px;
    color: #777777;
}

.ingredients-information{
    max-width: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-ul{

    width: 140px;
    font-family: Roboto;
    font-size: 24px;
    color: #111111;
    margin-left: 20px;
}

#Button-ocult{
    cursor: pointer;
    margin-top: 11px;
    text-decoration: none;
    font-family: Roboto;
    font-size: 12px;
    color: #999999;
}

.list-ingredients{
    padding-top: 20px;
    visibility: visible;
    font-family: Roboto;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}


.list-ingredients.active{
    visibility: hidden;
    
}

.how-to-prepare{
    padding-top: 39px;
    text-align: left;
    
}

.title-how-prepare{
    font-family: Roboto;
    font-size: 24px;
    color: #111111;
    width: 190px;
    margin-left: 20px;
}

.how-prepare{
    
    padding-top: 20px;
    visibility: visible;
    font-family: Roboto;
    font-size: 18px;
    color: #444444;
    line-height: 28px;

}
.how-prepare.active{
    visibility: hidden;
    
}

.information-title{
    padding-top: 30px;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-information{
    font-family: Roboto;
    font-size: 24px;
    color: #111111;
    width: 260px;
    margin-left: 20px;
}

.information{
    padding-top: 20px;
    font-family: Roboto;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.information.active{
    visibility: hidden;
}